.register-box {
    width: 30%;
    height: 80%;
    text-align: center;
    margin: auto;
    padding: 10% 0%;
    z-index: 1;
    opacity: 0.9;
}
.w-75 {
    width: 75%
}
.sign-up {
    width: 75%;
    background-color:#0606f9;
    color: white;
}
.howdy {
    font-family: blackjack;
}
.login-background{
    background-color: #f3ebeb3b;
    background-image: url('../../../assets/images/chat-6.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}