.register-box {
    width: 35%;
    height: 80%;
    text-align: center;
    margin: auto;
    padding: 2% 0%;
}
.w-75 {
    width: 75%
}
.sign-up {
    width: 75%;
    background-color:#0606f9;
    color: white;
}
.howdy {
    font-family: blackjack;
}
.register-background {
    background-color: #f3ebeb3b
}